.title {
  margin: 0 0 0 0.1em;
  letter-spacing: -2.2px;
  color: $white;
}
.elements {
  .passwordWrapper {
    position: relative;
    .passwordIconOpen,
    .passwordIcon {
      height: 1em;
      position: absolute;
      right: 0.8em;
      top: 0.8em;
      cursor: pointer;
    }

		.passwordIconOpen {
			g {
				g[data-name="Path 159"] {
					fill: $white;
				}
				g[data-name="Ellipse 83"] {
					stroke: $atelier-blue;
					fill: $atelier-blue;
				}
			}
		}
  }
  input,
  button {
    margin-top: 0.45em;
  }
  input {
		text-transform: none;
    &:hover {
      border-width: 2px;
    }
  }
  .forgotPassword {
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 0 1.5em;
  }
  .passwordButtons {
    display: flex;
    justify-content: space-between;
    width: 20em;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  position: relative;
  .h1 {
    color: $atelier-blue;
    text-transform: uppercase;
    margin: 1.3em 0 0 0;
    line-height: 1em;
    letter-spacing: 5.2px;
    font-size: 78px;
    font-family: "Orelo";
  }

  .p1 {
		@include h4;
    margin: 2em 1.1em 1.3em 0.2em;
  }

  .atelier {
    font-family: "Orelo Bold";
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 23px;
    letter-spacing: 11px;
    margin: 0em 0 3em 0;
  }

  .svg1 {
    position: absolute;
    bottom: -4.5em;
    left: -2.55em;
  }

  .svg2 {
    position: absolute;
    top: 8.5em;
    right: -2.55em;
  }
}
