.wrapper {
	border: 1px solid #000;
	border-radius: 15px;
	padding: 1em;
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: .5em 1em;
	}

	.caption {
		@include h6;
	}
	.title {
		@include h2;
	}
}
