.wrapper {
	background-color: $white;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	.dashboardContent {
		display: grid;
		min-height: 0;
		height: 100%;
		grid-template-columns: min-content 1fr;
		grid-template-rows: 100%;
	}
	.dashboardContent.admin {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
