.form {
	width: 30em;
	border: 1px solid #000;
	padding: 1em;
	border-radius: 10px;
	margin: 1em 0;
	.label {
		@include h6;
	}
	.text {
		@include p1;
		margin: .5em 0;
	}
	.button {
		margin-top: .5em;
	}
	.row {
		display: flex;
		align-items: center;
		width: 100%;
		margin: .5em 0;
	}
	.bankAccount {
		margin: .5em 0;
	}
}

.flex {
	display: flex;
	align-items: center;
	width: 100%;
	.text {
		margin: 0 1em;
		@include h6;
	}
}
