.productChatWrapper {
  width: 100%;
  height: calc(100% - 2.15em);
  display: flex;
  flex-direction: column;
}

.productChat {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	overflow-y: hidden;
}
.productChatAndSidebarWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10.5em auto;

  .productChatSidebar {
    width: 100%;
    height: 100%;
    background-color: darken($white, 5%);
    display: flex;

    .dropdownButton {
      padding: 1.5em 0.5em 1em 0.5em;
    }
    flex-direction: column;
    .productCard {
      margin: 0.5em auto;
    }
    .productCardFocus {
      border: 1px solid darken($white, 30%);
      border-radius: 10px;
      box-shadow: 0 0 0 1px $atelier-blue;
      border: 1px solid $atelier-blue;
      transition: all 0.3s ease;
      cursor: pointer;
    }

		.productCardFocus.admin {
			box-shadow: 0 0 0 1px $atelier-purple;
			border: 1px solid $atelier-purple;
		}
  }
}


.chatBoxWrapper {
	display: flex;
	// flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 1.1em;
	.chatBox {
		width: 37.5em;
		display: flex;
		flex-direction: column;
		height: 16em;
		background-color: $white;
		box-shadow: 0 0 5px 5px darken($white, 5%);
		border-radius: 15px;

		.flex {
			display: flex;
			width: 100%;
			height: 100%;
		}

		.chatInfoWrapper {
			width: 160px;
			display: flex;
			padding: 1em;
			flex-direction: column;
			.chatInfo {
				flex: 1;
				.infoWrapper {
					margin-bottom: 1em;
				}
				padding: .5em .5em 1em .5em;
				.title {
					@include iip1;
				}
				.content {
					@include h6;
					text-transform: uppercase;
				}
			}
		}

		.chatInput {
			padding: 1em;
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
			.textAreaWrapper {
				flex: 1;
				textarea {
					resize: none;
					@include p2;
					text-transform: none;
					vertical-align: top;
					border: 0px;
				}
			}

			.bottomChatBox {
				padding: 0 1em;
				width: 100%;
				display: flex;
				justify-content: space-between;
				.chatBoxIcons {
					display: flex;
					.icon {
						g > circle, circle {
							fill: $white;
						}
						margin-right: 0.3em;
						cursor: pointer;
					}
				}
				.submitButton {
					width: fit-content;
				}
			}
		}
	}
}

.chatBoxWrapper.admin {
	.chatInput {
		background-color: darken($white, 3%);
		textarea {
			background-color: darken($white, 3%);
		}
	}
	.chatBoxIcons {
		.icon {
			g[data-name="Group 1057"] {
				g {
					stroke: $atelier-purple;
				}
			}
			path[data-name="Path 113"] {
				stroke: $atelier-purple;
			}
			g[data-name="Emoji"] {
				circle {
					stroke: $atelier-purple;
				}
				g {
					fill: $atelier-purple;

				}
			}
		}
	}
}
